#admin-sidebar {
    flex-grow: 0;
    height: calc(100% - 64px);
    overflow-x: hidden;
    position: relative;

    aside {
        position: relative;

        &:before {
            position: absolute;
            background-color: #37474F;
            left: 0;
            top: 0;
            width: 2px;
            height: 100%;
            content: "";
        }
    }

    * {
        color: inherit;

        &:hover {
            color: inherit;
        }
    }

    *[role="button"]:hover,
    *[role="button"].active {
        color: #B3E5FC;
    }

    ul {
        padding: 0;
    }

    li {
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
    }

    li[role="button"] {
        border-left: 2px solid #37474F;
    }

    li[role="button"].active {
        border-left: 2px solid #03A9F4;
        border-top: 1px solid #292929;
        border-bottom: 1px solid #292929;
        background-color: rgba(0, 0, 0, 0.125);
    }

    > div {
        height: 100%;
    }
}
